
azure-functions
requests
pydantic
google-auth
google-auth-oauthlib
google-api-python-client
slack_sdk
yahoo_fantasy_api
azure-cosmos
azure-identity
azure-storage-blob
openai
jinja2
python-dateutil
itsdangerous
tenacity
reportlab
